@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Manrope;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.home{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rightContent{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.rightContent p{
    text-align: left;
}

.kontaktBtn{
    width: 142px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #348BFC;
    box-shadow: 0px 0px 11px 0px #FFF inset;
    border: none;
}

.kontaktBtn a{
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nameGradient{
    background: linear-gradient(90deg, #348BFC 53.33%, #3241C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}