@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

.home{
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home .leftContent{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    color: #000;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home .rightContent{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.home .rightContent p{
    text-align: left;
}

.kontaktBtn{
    width: 142px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #348BFC;
    box-shadow: 0px 0px 11px 0px #FFF inset;
    border: none;
    margin-top: 25px;
}

.kontaktBtn a{
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nameGradient{
    background: linear-gradient(90deg, #348BFC 53.33%, #3241C7 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

@media (max-width: 768px){
    .home{
        flex-direction: column;
        align-items: flex-start;
    }
}