.projectDetail{
    max-width: 1100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projectDetail a{
    color: black;
}

.projectDetailInfo{
    text-align: center;
}

.projectDetailInfo h1{
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(270deg, #0D9900 0%, #096400 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projectDetailInfo p{
    color: rgba(0, 0, 0, 0.80);
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.projectDetailImg{
    width: 1100px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 25px;
    background: radial-gradient(95.56% 95.56% at 50% 32.22%, #16FF00 0%, #096400 100%);
    display: flex;
    justify-content: space-evenly;
}

.projectDetailImg .img{
    height: 90%;
    border-radius: 0 0 25px 25px;
}
.projectDetailImg .img2{
    height: 90%;
    align-self: flex-end;
    border-radius: 25px 25px 0 0;
}

.projectDetailTech{
    display: flex;
    flex-direction: column;
}

.projectDetailTech img{
    max-width: 600px;
    border-radius: 15px;
    width: 100%;
    margin: 0 auto;
}
