.aboutme{
    max-width: 1100px;
    width: 100%;
    min-height: 70vh;
}

.aboutme h1{
    text-align: center;
    font-family: Manrope;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #3241C7 0%, #348BFC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme-info{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutme-text{
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 700px;
    width: 100%;
    color: #000;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.aboutme-3dman{
    width: 319px;
    height: 319px;
    border-radius: 25px;
    background: linear-gradient(180deg, #3241C7 0%, #348BFC 100%);
}

.aboutme-man{
    position: absolute;
    margin-left: 45px;
    bottom: 389Px;
}